  body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
  }

  .solid-black-background {
    background-color: rgba( 0, 0, 0, 1 );
  }

  .transparent-background{
    background-color: rgba( 0, 0, 0, 0.75 );
  }

  .white-text {
    color: #FFFFFF;
  }

  .black-text {
    color: #000000;
  }

  .bluish-text {
    color: #C5F7FF;
  }

  .greenish-text{
    color: #77E8BD;
  }

  .ngdialog-content{
    border-radius: 0px !important;
    width: 750px !important;
  }

/* ========================================================================
  HOME
  ========================================================================= */

  #video-container{
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: #000000;
  }

  #video-loop {
    width: 100%;
    height: 100vh;
  }

  #video-captions{
    width: 100%;
    height: 100vh;
    position: fixed;
  }

  .home-title {
    position: absolute;
    top: 40vh;
    width: 100%;
    margin: 0;
    color: #FFFFFF;
    text-align: center;
    font-size: 4em;
    font-family: 'Roboto';
    font-weight: 100;
  }

  .home-subtitle {
    position: absolute;
    top: 40vh;
    width: 100%;
    margin: 0;
    color: #FFFFFF;
    text-align: center;
    font-size: 4em;
    font-family: 'Roboto';
    font-weight: 100;
  }

  .video-text{
    width: 100%;
    height: 100vh;
  }

  .logo-container{
    width: 100%;
    position: absolute;
    bottom: 20vh;
  }

  .logo {
    width: 20%;
    height: auto;
    margin: 0 40% 0 40%;
  }

  #content-container{
    width: 100%;
    top: 100vh;
    position: absolute;
    background-color: #FFFFFF;
  }

  .section {
    width: 100%;
    height: 80vh;
    position: relative;
  }

  .angular-google-map-container {
    height: 80vh;
  }

  .left-side {
    width: 50%;
    height: 80vh;
    float: left;
    position: relative;
    background-color: rgba( 0, 0, 0, 0.75 );
  }

  .right-side{
    width: 50%;
    height: 80vh;
    float: left;
    position: relative;
  }

  .side-text{
    width: 80%;
    margin: 0 10% 0 10%;
    position: absolute;
    top: 40vh;
    font-weight: 300;
    font-size: 1.5em;
  }

  .side-title {
    width: 80%;
    margin: 0 10% 0 10%;
    position: absolute;
    top: 25vh;
    font-weight: 700;
    font-size: 1.5em;
  }

  #section-1{
    background: rgba( 255, 255, 255, 1);
  }

  #section-2{
    /* prueba con este estilo si quieres el padding del que habias dicho
    background: url( ../images/kitchen-1.jpg ) no-repeat 20px 20px;
    background-size: 97% 95vh;
    */

    /* este estilo de fondo quita el padding */
    background-image: url( ../images/kitchen-1.jpg );
    background-size: cover;
    background-position: center center;
  }

  #section-3{
    /* prueba con este estilo si quieres el padding del que habias dicho
    background: url( ../images/kitchen-2.jpg ) no-repeat 20px 20px;
    background-size: 97% 95vh;
    */
    /* este estilo de fondo quita el padding */
    background-image: url( ../images/kitchen-2.jpg );
    background-size: cover;
    background-position: center center;
  }

  #section-4{
    background: rgba( 255, 255, 255, 1);
    height: auto;
  }

  #section-5{
    background: rgba( 255, 255, 255, 1);
  }

/* ========================================================================
  CATALOGUE
  ========================================================================= */


  .section-title {
    width: 100%;
    height: 20vh;
    line-height: 20vh;
    font-size: 3em;
    font-weight: 100;
    text-align: center;
  }

  .images-grid{
    width: 100%;
    overflow: auto;
  }

  .carrusel-item{
    height: 25vh;
    float: left;
    background-size: cover;
    background-position: center center;
    cursor: pointer;
  }

  .carrusel-item:hover{
    opacity: 0.75;
  }

  .five-item{
    width: 20%;
  }

  .four-item{
    width: 25%;
  }


  .logo-div{
    width: 100%;
    overflow: auto;
  }

  footer{
    width: 90%;
    margin-top: 50px;
    padding: 5%;
  }

  .logo-div img{
    width: 20%;
    height: auto;
    margin: 0;
    float: left;
    cursor: pointer;
  }

  .logo-div img:hover{
    opacity:0.6;
  }

  .back {
    width: 50%;
    margin-left: 30%;
    color: #000000;
    font-size: 2.2em;
    font-weight: 400;
    cursor: pointer;
    z-index: 1;
    float: left;
    text-align: right;
  }

  .back:hover{
    color: #77E8BD;
  }

  .carrusel{
    width: 60%;
    padding: 5%;
    margin: 0 auto;
    position: relative;
    background-color: #FFFFFF;
  }

  .product-image{
    width: 100%;
    height: auto;
    display: block;
    margin: 2% 0 0 0;
    position: relative;
  }

  .product-description{
    width: 33%;
    height: 100px;
    padding: 2%;
    margin-right: 0;
    margin-left: 60%;
    position: absolute;
    font-weight: 300;
    bottom: 0;
    right: 0;
    background: rgba( 0, 0, 0, 0.75);
  }

  .pagination {
    width: 80%;
    margin: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    font-weight: 400;
    font-size: 2.2em;
  }

  .right, .left {
    position: absolute;
    top: 45%;
    font-weight: 400;
    font-size: 3em;
    cursor: pointer;
    color: #000000;
  }

  .right{
    right: 2%;
  }

  .left{
    left: 2%;
  }

  .right:hover, .left:hover{
    color: #77E8BD;
    /* color: #FFFFFF; */
  }

  .enter-animation{
    -webkit-transition: 0.20s linear all;
    -moz-transition:    0.20s linear all;
    -o-transition:      0.20s linear all;
    transition:         0.20s linear all;
  }

  .triangle-icon {
    width: 2%;
    height: auto;
    float: left;
    margin-top: 30px;
    cursor: pointer;
  }

  .option-tag{
    width: 55%;
    float: left;
    margin: 0;
    margin-right: 5%;
    text-align: right;
  }

  .options-dropdown{
    position: absolute;
    top: 0;
    width: 100%;
    height: 200px;
  }

  .option-item{
    cursor: pointer;
  }

  .option-item:hover{
    color: #77E8BD;
  }


/* ========================================================================
  ANIMATIONS
  ======================================================================== */

  .drop-animation{
    opacity: 1;
  }

  .drop-animation.ng-hide-add.ng-hide-add-active,
  .drop-animation.ng-hide-remove.ng-hide-remove-active {
    -webkit-transition: 0.25s linear all;
    -moz-transition:    0.25s linear all;
    -o-transition:      0.25s linear all;
    transition:         0.25s linear all;
    display: block !important;
  }

  .drop-animation.ng-hide {
    top: -75px;
    opacity: 0;
  }

/* ========================================================================
  FONT-FACE
  ======================================================================== */

  @font-face {
    font-family: 'Roboto';
    src: url(../assets/Roboto-Thin.ttf);
    font-weight: 100;
  }

  @font-face {
    font-family: 'Roboto';
    src: url(../assets/Roboto-Light.ttf);
    font-weight: 300;
  }

  @font-face {
    font-family: 'Roboto';
    src: url(../assets/Roboto-Regular.ttf);
    font-weight: 400;
  }

  @font-face {
    font-family: 'Roboto';
    src: url(../assets/Roboto-Medium.ttf);
    font-weight: 500;
  }

  @font-face {
    font-family: 'Roboto';
    src: url(../assets/Roboto-Bold.ttf);
    font-weight: 700;
  }

  @font-face {
    font-family: 'Roboto';
    src: url(../assets/Roboto-Black.ttf);
    font-weight: 900;
  }
