body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
}

#scroll-stage{
  height: 4000px;
}

.slide{
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  color: black;
  opacity: 0.9;
}

.slide-content{
  width: 100%;
  height: 100%;
  opacity: 1;
  position: relative;
}

.window-container{
  background-color: #7F7E7E;
}

.transparent-background{
  background-color: rgba( 0, 0, 0, 0.75 );
}

.solid-black-background {
  background-color: rgba( 0, 0, 0, 1 );
}

.solid-grey-background{
  background-color: rgba( 160, 160, 160, 1 );
}


.left-side {
  width: 50%;
  height: 100vh;
  float: left;
  position: relative;
  background-color: rgba( 0, 0, 0, 0.75 );
}

.right-side{
  width: 50%;
  height: 100vh;
  float: left;
  position: relative;
  background-color: rgba( 255, 255, 255, 1 );
}

.left-side-text {
  color: #FFFFFF;
  position: absolute;
  top: 40vh;
  left: 20%;
  width: 50%;
  font-size: 1.5em;
  text-align: center;
}

.right-side-text {
  color: #000000;
  position: absolute;
  top: 40vh;
  left: 20%;
  width: 50%;
  font-size: 1.5em;
  text-align: center;
}

video {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;

}



/* ========================================================================
SLIDE 1
======================================================================== */

#slideOne {
  background-image: url( ../images/kitchen-1.jpg );
  background-size: cover;
  background-position: center center;
}

.home-phrase {
  position: absolute;
  top: 40vh;
  width: 100%;
  margin: 0;
  color: #FFFFFF;
  text-align: center;
  font-size: 4em;
  font-family: 'Roboto';
  font-weight: 100;
}

.logo-container{
  width: 100%;
  position: absolute;
  bottom: 20vh;
}

.logo {
  width: 20%;
  height: auto;
  margin: 0 40% 0 40%;
}

/* ========================================================================
SLIDE 2
======================================================================== */

#slideTwo {
  background-color: #FFFFFF;
}

.slide2-window-title{
  color: #FFFFFF;
  position: absolute;
  top: 25vh;
  left: 12%;
}

.slide2-window-text{
  color: #FFFFFF;
  position: absolute;
  top: 40vh;
  left: 12%;
  width: 75%;
  font-size: 1.5em;
}

.slide2-text{
  width: 40%;
  position: absolute;
  top: 40vh;
  right: 10%;
  font-size: 2em;
  font-weight: 700;
  color: #000000;
  text-align: center;
}


/* ========================================================================
SLIDE 3
======================================================================== */

  #slideThree{
    background: url( ../images/kitchen-1.jpg ) no-repeat 20px 20px;
    background-size: 97% 95vh;
  }

  .slide3-window-title{
    color: #FFFFFF;
    position: absolute;
    top: 40vh;
    left: 12%;
  }

  .slide3-window-text{
    color: #FFFFFF;
    position: absolute;
    top: 50vh;
    left: 12%;
    width: 75%;
    font-size: 1.5em;
  }


/* ========================================================================
SLIDE 4
======================================================================== */

#slideFour {
  background: url( ../images/kitchen-2.jpg ) no-repeat 97% 20px;
  background-size: 47% 95vh;
}

.slide4-window-title{
  color: #000000;
  position: absolute;
  top: 40vh;
  left: 12%;
}

.slide4-window-text{
  color: #FFFFFF;
  position: absolute;
  top: 50vh;
  left: 12%;
  width: 75%;
  font-size: 1.5em;
}

/* ========================================================================
SLIDE 5
======================================================================== */

#slideFive {
  background: url( ../images/kitchen-1.jpg ) no-repeat 20px 20px;
  background-size: 97% 95vh;
}

.slide5-window-title{
  color: #000000;
  position: absolute;
  top: 40vh;
  left: 12%;
}

.slide5-window-text{
  color: #FFFFFF;
  position: absolute;
  top: 50vh;
  left: 12%;
  width: 75%;
  font-size: 1.5em;
}


/* ========================================================================
SLIDE 6
======================================================================== */

#slideSix {
  background: url( ../images/kitchen-2.jpg ) no-repeat 97% 20px;
  background-size: 47% 95vh;
}

.slide6-window-title{
  color: #000000;
  position: absolute;
  top: 40vh;
  left: 12%;
}

.slide6-window-text{
  color: #FFFFFF;
  position: absolute;
  top: 50vh;
  left: 12%;
  width: 75%;
  font-size: 1.5em;
}

/* ========================================================================
SLIDE 7
======================================================================== */

#slideSeven {
  background: url( ../images/kitchen-1.jpg ) no-repeat 20px 20px;
  background-size: 97% 95vh;
}

.slide7-window-title{
  color: #000000;
  position: absolute;
  top: 40vh;
  left: 12%;
}

.slide7-window-text{
  color: #FFFFFF;
  position: absolute;
  top: 50vh;
  left: 12%;
  width: 75%;
  font-size: 1.5em;
}


/* ========================================================================
ANIMATIONS
======================================================================== */

.enter-animation {
    opacity: 1;
}

.enter-animation.ng-hide-add.ng-hide-add-active,
.enter-animation.ng-hide-remove.ng-hide-remove-active {
  -webkit-transition: 0.5s linear all;
  -moz-transition:    0.5s linear all;
  -o-transition:      0.5s linear all;
  transition:         0.5s linear all;
}

.enter-animation.ng-hide {
  opacity: 0;
}

/* ========================================================================
FONT-FACE
======================================================================== */

@font-face {
  font-family: 'Roboto';
  src: url(../assets/Roboto-Thin.ttf);
  font-weight: 100;
}

@font-face {
  font-family: 'Roboto';
  src: url(../assets/Roboto-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: 'Roboto';
  src: url(../assets/Roboto-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: 'Roboto';
  src: url(../assets/Roboto-Black.ttf);
  font-weight: 900;
}
