  body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
  }

  .solid-black-background {
    background-color: rgba( 0, 0, 0, 1 );
  }

  .transparent-background{
    background-color: rgba( 0, 0, 0, 0.75 );
  }

  .white-text {
    color: #FFFFFF;
  }

  .black-text {
    color: #000000;
  }

  .bluish-text {
    color: #C5F7FF;
  }

  .greenish-text{
    color: #77E8BD;
  }

/* ========================================================================
  HOME
  ========================================================================= */

  #video-container{
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: #000000;
  }

  #video-loop {
    width: 100%;
    height: 100vh;
  }

  #video-captions{
    width: 100%;
    height: 100vh;
    position: fixed;
  }

  .home-title {
    position: absolute;
    top: 30vh;
    width: 100%;
    margin: 0;
    color: #FFFFFF;
    text-align: center;
    font-size: 4em;
    font-family: 'Roboto';
    font-weight: 100;
  }

  .home-subtitle {
    position: absolute;
    top: 40vh;
    width: 100%;
    margin: 0;
    color: #FFFFFF;
    text-align: center;
    font-size: 4em;
    font-family: 'Roboto';
    font-weight: 100;
  }

  .video-text{
    width: 100%;
    height: 100vh;
  }

  .logo-container{
    width: 100%;
    position: absolute;
    bottom: 20vh;
  }

  .logo {
    width: 20%;
    height: auto;
    margin: 0 40% 0 40%;
  }

  #content-container{
    width: 100%;
    top: 100vh;
    position: absolute;
    background-color: #FFFFFF;
  }

  .section {
    width: 100%;
    height: 100vh;
    position: relative;
  }

  .left-side {
    width: 50%;
    height: 100vh;
    float: left;
    position: relative;
    background-color: rgba( 0, 0, 0, 0.75 );
  }

  .right-side{
    width: 50%;
    height: 100vh;
    float: left;
    position: relative;
  }

  .side-text{
    width: 75%;
    margin: 0 15% 0 10%;
    position: absolute;
    top: 40vh;
    font-weight: 300;
    font-size: 1.5em;
  }

  .side-title {
    width: 75%;
    margin: 0 15% 0 10%;
    position: absolute;
    top: 25vh;
    font-weight: 700;
    font-size: 1.5em;
  }

  #section-1{
    background: rgba( 255, 255, 255, 1);
  }

  #section-2{
    background: url( ../images/kitchen-1.jpg ) no-repeat 20px 20px;
    background-size: 97% 95vh;
  }

  #section-3{
    background: url( ../images/kitchen-2.jpg ) no-repeat 20px 20px;
    background-size: 97% 95vh;
  }

  #section-4{
    background: rgba( 255, 255, 255, 1);
  }

  .angular-google-map-container {
    height: 100vh;
  }

/* ========================================================================
  FONT-FACE
  ======================================================================== */

  @font-face {
    font-family: 'Roboto';
    src: url(../assets/Roboto-Thin.ttf);
    font-weight: 100;
  }

  @font-face {
    font-family: 'Roboto';
    src: url(../assets/Roboto-Light.ttf);
    font-weight: 300;
  }

  @font-face {
    font-family: 'Roboto';
    src: url(../assets/Roboto-Regular.ttf);
    font-weight: 400;
  }

  @font-face {
    font-family: 'Roboto';
    src: url(../assets/Roboto-Medium.ttf);
    font-weight: 500;
  }

  @font-face {
    font-family: 'Roboto';
    src: url(../assets/Roboto-Bold.ttf);
    font-weight: 700;
  }

  @font-face {
    font-family: 'Roboto';
    src: url(../assets/Roboto-Black.ttf);
    font-weight: 900;
  }
