.window-container{
  margin: 0 0 0 0;
  height: 100vh;
  position: absolute;
  top: 0;
  z-index: 10;
}

.window-container {
  width: 50%;
}

.menu-icon {
  width: 2%;
  height: auto;
  margin: 0 93% 0 5%;
  position: absolute;
  top: 10%;
  z-index: 11;
  cursor: pointer;
}


.open-close-icon {
  width: 5%;
  height: auto;
  margin: 0 90% 0 5%;
  position: absolute;
  top: 10%;
  z-index: 11;
  cursor: pointer;
  color: white;
  font-size: 3em;
  font-weight: 400;
}

.open-close-icon:hover {
  color: #C5F7FF;
}

.window-title{
  width: 75%;
  margin: 0 15% 0 10%;
  position: absolute;
  top: 25vh;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 1.5em;
}

.window-text{
  width: 75%;
  margin: 0 15% 0 10%;
  position: absolute;
  top: 40vh;
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 1.5em;
}

.action-button {
  width: 30%;
  margin: 0 10% 0 60%;
  position: absolute;
  bottom: 30vh;
  height: 40px;
  font-size: 1.5em;
  font-family: 'Roboto';
  font-weight: 400;
  border: none;
  color: #000000;
  background-color: #C5F7FF;
  cursor: pointer;
}

.action-button:hover{
  background-color: #77E8BD;
}

.window-form{
  width:75%;
  margin: 0 15% 0 10%;
  position: absolute;
  top: 20vh;
}

.window-label{
  width: 100%;
  color: #FFFFFF;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 1.5em;
}
.window-input {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #000000;
  font-weight: 300;
  font-family: 'Roboto';
  font-size: 1.5em;
  border: none;
}

.window-textarea {
  resize: none;
  width: 99%;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #000000;
  font-weight: 300;
  font-family: 'Roboto';
  font-size: 1.5em;
  border: none;
}

.window-button {
  width: 25%;
  margin-left: 75%;
  height: 40px;
  background-color: #C5F7FF;
  border: none;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 1.5em;
  color: #000000;
  cursor: pointer;
}

.window-button:hover {
  background-color: #77E8BD;
}

.window-container.ng-hide-add.ng-hide-add-active,
.window-container.ng-hide-remove.ng-hide-remove-active {
  -webkit-transition: 0.2s linear all;
  -moz-transition:    0.2s linear all;
  -o-transition:      0.2s linear all;
  transition:         0.2s linear all;
}

.window-container.ng-hide {
  width: 0px;
}
