<div ng-controller="homeController as vm">
  <div id="video-container">
    <video id="video-loop" loop autoplay muted>
      <source src="./assets/landingvideo.mp4" type="video/mp4">
      <source src="./assets/landingvideo.webm" type="video/webm">
      Your browser does not support the video tag.
    </video>
  </div>
  <div id="video-captions" class="transparent-background">
    <h1 class="home-title">We're cooking something for you!</h1>
    <h1 class="home-subtitle">Can't wait? Call us!</h1>
    <div class="logo-container">
      <img class="logo" src="images/kitchen-logo-white.png">
    </div>
  </div>
  <div id="content-container">

    <div id="section-2" class="section">
      <side-window>
        <div class="open-close-icon" ng-click="toggleMenu()">{{symbol}}</div>
        <div class="window-container solid-black-background" ng-show="menuIsShown">
          <h1 class="window-title"></h1>
          <p class="window-text white-text">
            Te estamos esperando en nuestra tienda, visítanos, date una oportunidad de conocer nuestros productos. <span class="bluish-text">Te invitamos a que veas nuestra tienda.</span>
          </p>
          <button class="action-button" type="button" ng-click="go('catalogue')">Ir a la tienda</button>
        </div>
      </side-window>
      <div class="left-side">
        <h1 class="side-title bluish-text">Conócenos</h1>
        <p class="side-text white-text">
          Nos gustaría que fueras parte de lo que construimos, sabemos que tenemos la mejor calidad de la ciudad, pero queremos que tú te convenzas.
        </p>
      </div>
    </div>

    <div id="section-1" class="section">
      <div class="left-side">
        <h1 class="side-title bluish-text">Tú dices qué, nosotros vemos cómo.</h1>
        <p class="side-text white-text">
          Tú tienes un sueño, nosotros también: que puedas cumplirlo. Trabajamos todos los días para poder ofrecerte los mejores productos  y el mejor servicio. <span class="bluish-text">¡Visita nuestro catálogo!</span>
        </p>
        <button class="action-button" type="button" ng-click="vm.go('catalogue')">Ir a la tienda</button>
      </div>
      <div class="right-side">
        <h1 class="side-title black-text" style="text-align: center">★ ★ ★ ★ ★ <br> Calidad.</h1>
        <p style="text-align:center" class="side-text black-text">
          Trabajamos persiguendo un <span class="greenish-text">sueño</span>: que todos tengan la oportunidad de tener acceso a las <span class="greenish-text">mejores cocinas del mundo</span>.
        </p>
      </div>
    </div>

    <div id="section-3" class="section">
      <side-window>
        <div id="cheat" class="window-container">
          <button class="action-button" type="button" ng-click="toggleMenu()">¡Únete!</button>
        </div>

        <div class="open-close-icon" ng-click="toggleMenu()">{{symbol}}</div>
        <div class="window-container solid-black-background" ng-show="menuIsShown">
          <div class="window-form">
            <label class="window-label">Nombre de la compañía:</label>
            <input class="window-input" type="text">
            <label class="window-label">Teléfono:</label>
            <input class="window-input" type="text">
            <label class="window-label">Email:</label>
            <input class="window-input" type="text">
            <label class="window-label">Ubicación:</label>
            <input class="window-input" type="text">
            <label class="window-label">Años en el mercado:</label>
            <input class="window-input" type="text">
            <label class="window-label">Comentarios:</label>
            <textarea class="window-textarea" rows="4" cols="50"></textarea>
            <button class="window-button" type="button">Enviar</button>
          </div>
        </div>
      </side-window>
      <div class="left-side">
        <h1 class="side-title bluish-text">Distribuidores.</h1>
        <p class="side-text white-text">
          Si quieres ser parte del mayor proyecto de cocinas en Monterrey, te invitamos a que te unas a nuestra red  de distribuidores.<span class="bluish-text"> ¿Te interesa?</span>
        </p>
      </div>
    </div>
    <a id="contact"></a>
    <div id="section-4" class="section">
      <side-window>
        <div class="open-close-icon" ng-click="toggleMenu()">{{symbol}}</div>
        <div class="window-container solid-black-background" ng-show="menuIsShown">
          <div class="window-form">
            <label class="window-label">Nombre:</label>
            <input class="window-input" type="text">
            <label class="window-label">Email:</label>
            <input class="window-input" type="text">
            <label class="window-label">Comentarios:</label>
            <textarea class="window-textarea" rows="4" cols="50"></textarea>
            <button class="window-button" type="button" ng-click="go('catalogue')">Enviar</button>
          </div>
        </div>
      </side-window>
      <div class="left-side">
        <h1 class="side-title bluish-text">Agenda tu cita.</h1>
        <p class="side-text white-text">
            Rió Tamanzuchale No. 101 Local 1A entre Calzada Del Valle y Río De Plata, Col. Del Valle, San Pedro Garza García, NL, México.
            <br>
            C.P. 66247
            <br>
            Tel. 01 (81) 81 92 26 98
            <br>
            01 (81) 17 69 76 76
            <br>
            clientes@kitchen-time.com.mx
        </p>
      </div>
      <div class="right-side">
        <ui-gmap-google-map center='vm.map.center' zoom='vm.map.zoom' options="vm.options">
          <ui-gmap-marker coords="vm.marker.coords" options="vm.marker.options" idkey="vm.marker.id">
            <ui-gmap-window show="true" options="vm.windowOptions" closeClick="vm.closeClick()" templateUrl='vm.window.template'>
            </ui-gmap-window>
          </ui-gmap-marker>
        </ui-gmap-google-map>
      </div>
    </div>

  </div>
</div>
