<nav class="menu-container" ng-show="displayMenu">
  <img class="logo-in-header" src="images/kitchen-logo-white.png">
  <div class="link offset" scroll-to="nosotros" container-id="nosotros-link">Nosotros</div>
  <div class="link" scroll-to="distribuidores" container-id="distribuidores-link">Distribuidores</div>
  <div id="special-fix" class="link" ng-mouseover="show()" ng-click="show()"  container-id="cocinas-link">
    <!--img class="menu-option-icon" src="assets/triangle3.svg"-->{{selected}}</div>
  <div class="link" scroll-to="contacto" container-id="contacto-link">Contacto</div>
</nav>
<div ng-show="showOptions" class="link-option-container drop-animation">
  <div scroll-to="cocinas" ng-click="changeSelected( 'Cocinas' )" class="link option">Cocinas</div>
  <div scroll-to="closets" ng-click="changeSelected( 'Clósets' )" class="link option">Clósets</div>
  <div scroll-to="puertas" ng-click="changeSelected( 'Puertas de comunicación' )" class="link option" style="line-height: 22px">Puertas de comunicación</div>
  <div scroll-to="muebles" ng-click="changeSelected( 'Muebles para baño' )" class="link option">Muebles para baño</div>
</div>
